.AccountForm{
padding: 5px 0px 20px 20px;
box-shadow:0px 0px 10px rgb(126, 124, 124);
border-radius: 5px;
}
.newBand {
display: flex;
margin: 50px 5px;
box-shadow:0px 0px 10px rgb(126, 124, 124);
border-radius: 5px;
}
.newBand div{
    padding: 20px;
}